/*Adapted example from https://bootsnipp.com/snippets/vl4R7*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html, body{
    background-image: url('../images/medical.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.card{
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 100%;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.text{
    color: white;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 25%;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.link a:link {
    color: darkorange;
}

.link a:hover {
    color: lightpink;
}

.error {
    color: red;
}

.topright {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 20px;
}

.logoutButton {
    position: absolute;
    top: 4%;
    right: 1%;
    font-size: 20%;
}

/*Adapted example from https://www.w3schools.com/howto/howto_js_dropdown.asp*/
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 8%;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: 8%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}