@import models.dto.Examination


@(username: String, examinationsResults: Seq[Examination])(implicit request: RequestHeader, examinations: Seq[String])

<div class="topright">
    <div class="text">
        Logged as: <b>@username</b>
    </div>
</div>
<div class="logoutButton">
    <a href="@routes.LoginLogoutController.logout()">
        <input type="button" value="Logout" class="btn btn-info btn-lg">
    </a>
</div>

<div class="dropdown">
    <button onclick="examinationsDropdownFunction()" class="dropbtn">Examinations</button>
    <div id="examinationsDropdown" class="dropdown-content">
        @for(examination <- examinations){
            <a href="#">@examination</a>
        }
    </div>
</div>

<table>
    <tr>
        <th>id</th>
        <th>kind</th>
        <th>name</th>
        <th>date</th>
        <th>results</th>
    </tr>
    @for(examinationResult <- examinationsResults) {
        <tr>
            <td>@examinationResult.id</td>
            <td>@examinationResult.kind</td>
            <td>@examinationResult.name</td>
            <td>@examinationResult.date</td>
            <td>
                <ul>
                    @for(result <- examinationResult.results) {
                        <li>
                        @result._1 - @result._2 %
                        </li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>