@(title: String, additionalInfo: Option[String])

<div class="examination-form text font-size">
    <div class="center-horizontally-title">
        <b>@title</b>
        <a class="additional-info-btn" href="#additional-info">
            <span class="info-sign">&#x1F6C8</span>
        </a>
    </div>
    <br></br>
    <div>
        Your title for the examination: <input type="text" id="title">
    </div>
    <div>
        Choose your file: <input type="file" id="file">
    </div>
    <div class="cancel-button">
        <input type="button" id="cancelButton" value="Cancel" class="btn btn-info btn-lg" onclick="returnToCockpit()">
    </div>
    <div class="ok-button">
        <input type="button" id="okButton" value="Ok" class="btn btn-info btn-lg" disabled onclick="performExamination()">
    </div>
    <div class="processing-message" id="processingInfo">
        <h4>Processing in progress, please stand by</h4>
    </div>
</div>

<div id="additional-info" class="overlay">
    <div class="popup">
        <h2>Requirements for input data</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">@additionalInfo</div>
    </div>
</div>
