@(startRoute: String)(implicit request: RequestHeader)

@main("Diagnosis support system") {

    <div id="content"></div>
    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="loginRoute" value="@startRoute">
    <input type="hidden" id="validateRoute" value="@routes.LoginLogoutController.validate()">
    <input type="hidden" id="cockpitRoute" value="@routes.LoginLogoutController.cockpit()">
    <input type="hidden" id="skinLesionsFormRoute" value="@routes.CockpitController.skinLesionsForm()">
    <input type="hidden" id="skinLesionsRoute" value="@routes.CockpitController.skinLesions()">

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
}
