<div class="skin-lesions-form text font-size">
    <div class="center-horizontally-title">
        <b>Skin lesions classifier</b>
    </div>
    <br></br>
    <div>
        Your title for the examination: <input type="text" name="skinLesionName">
    </div>
    <div>
        Choose your image: <input type="file" name="skinLesionFile">
    </div>
    <div class="cancel-button">
        <input type="button" value="Cancel" class="btn btn-info btn-lg" onclick="returnToCockpit()">
    </div>
    <div class="ok-button">
        <input type="button" value="Ok" class="btn btn-info btn-lg" onclick="performSkinLesions()">
    </div>
</div>
